
{% for message in app.session.flashbag.get('info') %}         
    <div class="alert alert-info fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Info :</strong> {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('success') %}

    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Succès :</strong> {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Attention :</strong> {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Erreur :</strong> {{ message }}
    </div>
{% endfor %}