{# src/CoreBundle/Resources/views/Core/index.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
 	Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h4>Dernières annonces</h4>

  {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}
  
  <br />

{% endblock %}